@font-face {
    font-family: Pangram-Black;
    src: url(../fonts/Pangram-Black.otf);
}

@font-face {
    font-family: Pangram-ExtraBold;
    src: url(../fonts/Pangram-ExtraBold.otf);
}

@font-face {
    font-family: Pangram-Bold;
    src: url(../fonts/Pangram-Bold.otf);
}

@font-face {
    font-family: Pangram-Medium;
    src: url(../fonts/Pangram-Medium.otf);
}

@font-face {
    font-family: Pangram-Regular;
    src: url(../fonts/Pangram-Regular.otf);
}

@font-face {
    font-family: Pangram-Light;
    src: url(../fonts/Pangram-Light.otf);
}

@font-face {
    font-family: QuincyCF-ExtraBold;
    src: url(../fonts/QuincyCF-ExtraBold.otf);
}

@font-face {
    font-family: QuincyCF-Bold;
    src: url(../fonts/QuincyCF-Bold.otf);
}

@font-face {
    font-family: QuincyCF-Medium;
    src: url(../fonts/QuincyCF-Medium.otf);
}

@font-face {
    font-family: QuincyCF-Text;
    src: url(../fonts/QuincyCF-Text.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangram-Regular', sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    overflow-x: hidden;
}

/* Universal classes */

h1 {
    font-family: 'Pangram-ExtraBold', sans-serif;
}

.btn {
    position: relative;
    font-size: 20px;
    font-family: 'Pangram-Medium', sans-serif;
    padding: 20px 39.5px;
    background: #0f1e6c;
    border: none;
    border-radius: 35.5px;
    color: #fff;

    outline: none;
    overflow: hidden;
}

#hero .btn::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: width 0.2s ease, height 0.2s ease;
    transition: width 0.2s ease, height 0.2s ease;
  }
#hero .btn:hover::before {
    --size: 400px;
  }

  #hero .btn span,
  .btn-rates span {
      position: relative;
      pointer-events: none;
      z-index: 5;
  }

.hidden {
    opacity: 0 !important;
    transition: 0 !important;
}


/* /universal classes */

header {
    width: 100vw;
    height: 95px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 47px 400px 0 240px;
    z-index: 7;
}

.celswap-logo-mobile {
    display: none;
}

.celswap-logo {
    display: block;
    width: 202px;
    height: 78px;
    background: url('../images/celswap-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;

    transition: .5s;
}

.celswap-logo-onscroll {
    display: block;
    width: 143.3px;
    height: 36px;

    background: url('../images/celswap-logo-onscroll.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .5s;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin-right: 10px;
}

.bullet {
    width: 2px;
    height: 2px;
    background: #232a65;
    border-radius: 50%;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 400;

    text-decoration: none;
    color: #232A65;
}

.header-btn {
    font-family: 'Pangram-Medium', sans-serif;
    font-weight: 500;

    width: 130px;
    height: 34px;
    margin-left: 22px;

    border-radius: 25.5px;
    background: transparent;
    border: 1px solid #0f1e6c;
    color: #232A65;
    transition: .5s;

    outline: none;
}


#hamburger {
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 100;
}

.nav-mobile-modal {
    display: none;
}

/* Hero Section */

#hero {
    position: relative;
    width: 100vw;
    height: 950px;
    background: #FBF6EF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 160px;
}

.bubble1 {
    position: absolute;
    width: 34px;
    height: 34px;
    background: linear-gradient(#FBF6EF 0%,#F4EBDF 100%);
    border-radius: 50%;
    top: 678px;
    left: 360px;
}

.bubble2 {
    position: absolute;
    width: 135px;
    height: 135px;
    background: linear-gradient(#FBF6EF 0%,#F4EBDF 100%);
    border-radius: 50%;
    top: 577px;
    left: 414px;
}

.bubble3 {
    position: absolute;
    width: 276px;
    height: 276px;
    background: linear-gradient(#FBF6EF 0%,#F4EBDF 100%);
    border-radius: 50%;
    top: 520px;
    right: 305px;
}

#hero .heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

#hero .heading-section h1 {
    font-size: 95px;
    line-height: 1;
    color: #232a65;
    text-align: center;

    background: linear-gradient(#3228B5 0%, #151A76 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero .heading-section h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

#hero .heading-section h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: #232a65;
    text-align: center;

    background: linear-gradient(270deg, #3228B5 0%, #151A76 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 15px;
    margin-bottom: 60px;
}

#hero .heading-section .cel-market-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 54px;
}

.cel-market-price p {
    font-size: 17px;
    color: #232a65;

    text-align: center;
}

.cel-market-price h3 {
    font-family: 'Pangram-ExtraBold', sans-serif;
    font-size: 39px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #232a65;
    
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
}

.cel-market-price span {
    font-family: 'Pangram-Medium', sans-serif;
    font-size: 16px;
    color: #43b584;

    text-align: center;
}


#availability {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.available {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 88px 173px 180px;
}

.available h1 {
    font-size: 61px;
    color: #763d16;
    line-height: 1.3;

    text-align: center;
}

.available h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
    font-size: 61px;
    color: #f6851b;
}

.available img {
    margin-top: 72px;
}

.coming-soon {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 88px 173px 63px;
    background: #F7923B;
}

.coming-soon h1 {
    font-size: 61px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;

    text-align: center;
}

.coming-soon h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-size: 61px;
    font-weight: 500;
}

.coming-soon img {
    margin-top: 72px;
}

.coming-soon h4 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1.1px;

    margin-top: 95px;
}


#about {
    position: relative;
    width: 100vw;
    background: #0F1E6C;

    padding-left: 340px;
    padding-top: 174px;
    padding-bottom: 178px;
}

.about-typography {
    font-family: 'Pangram-ExtraBold', sans-serif;
    position: absolute;
    right: 306px;
    top: 113px;
    text-transform: uppercase;

    font-size: 180px;
    color: #5a6af5;

    background: linear-gradient(270deg, #3C32C1 0%, #161B7B 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;

    opacity: 0.46;
}


#about h1 {
    font-size: 61px;
    line-height: 1.1;
    font-weight: 800;
    color: #fff;
}

#about h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

#about h3 {
    font-family: 'Pangram-Regular', sans-serif;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 1.9px;
    color: #fff;

    margin-top: 35px;
}

#about p {
    font-family: 'Pangram-Light', sans-serif;
    max-width: 520px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #fff;

    margin-top: 48px;
}


#what-is {
    position: relative;
    width: 100vw;
    padding-top: 165px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
}

.what-is-content {
    position: relative;
    width: 666px;
    height: 650px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.what-is-content h1,
.what-is-content p{
    z-index: 1;
}

#what-is .outside-small-bubble {
    position: absolute;
    top: 600px;
    right: 295px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(43deg, #f4ebdf 0%, #fbf6ef);
}

#what-is .small-bubble {
    position: absolute;
    top: 160px;
    left: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(43deg, #f4ebdf 0%, #fbf6ef);
    border-radius: 50%;
}

#what-is .medium-bubble {
    position: absolute;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background: linear-gradient(43deg, #f4ebdf 0%, #fbf6ef);
    top: 744px;
    left: 466px;
}

#what-is .large-bubble {
    position: absolute;
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background: linear-gradient(43deg, #f4ebdf 0%, #fbf6ef);
    right: 0;
    top: 50px;
}

#what-is .big-bubble {
    position: absolute;
    width: 620px;
    height: 620px;
    background: #fbf6ef;
    border-radius: 50%;
    z-index: 0;
}

.what-is-content h1 {
    font-size: 61px;
    line-height: 1.2;
    color: #0f1e6c;

    margin-top: 70px;
    margin-bottom: 34px;
}

.what-is-content h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

.what-is-content p {
    font-size: 31px;
    color: #0f1e6c;
    font-weight: 400;
    line-height: 1.3;

    text-align: center;
}


#prices {
    width: 100vw;
    background: #fff;
    padding-top: 180px;
    padding-bottom: 133px; 
    overflow: hidden;
}

.prices-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 340px;
    padding-right: 396px;
    margin-bottom: 180px;
}

.prices-container h1 {
    font-size: 61px;
    font-weight: 800;
    line-height: 1.1;
    color: #0f1e6c;
}

.prices-container h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

.prices-container p {
    max-width: 525px;
    margin-top: 20px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.3px;
    color: #0f1e6c;

}

.prices-function span {
    font-family: 'Pangram-Black', sans-serif;
    font-size: 108px;
    color: #3329ba;
}

.slide {
    position: relative;
    width: 396px;
    height: 422px;
    padding: 52px 40px 0;
}

.slide1 {
    background: #f76e1f;
}

.slide2 {
    background: linear-gradient(#f76e1f -20%, #F7BE5E);
}

.slide3 {
    background: #1CC073;
}

.slide4 {
    background: #24D2FC;
}

.slide5 {
    background: #3329BA;
}

.slide6 {
    background: #0F1E6C;
}

.slide h3 {
    font-family: 'Pangram-Light', sans-serif;
    font-size: 31px;
    line-height: 1.226;
    letter-spacing: 1.8px;
    color: #fff;
}

.slide h3 span {
    font-family: 'Pangram-ExtraBold', sans-serif;
    text-transform: uppercase;
}

.circle {
    position: absolute;
    width: 288px;
    height: 288px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.08;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.icon1 {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-liquidity.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon2 {
    position: absolute;
    width: 120.19px;
    height: 139.42px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-smart-contracts.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon3 {
    position: absolute;
    width: 140px;
    height: 140px;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-wallet.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon4 {
    position: absolute;
    width: 140px;
    height: 140px;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-trustlessness.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon5 {
    position: absolute;
    width: 158px;
    height: 140px;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-reward.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon6 {
    position: absolute;
    width: 141.56px;
    height: 140px;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-community.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#why-build {
    position: relative;
    width: 100vw;

    background: #FBF6EF;
    padding-top: 172px;
}

.upper-container {
    width: 100vw;
    padding-left: 340px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.upper-heading-box {
    max-width: 507px;
    margin-right: 150px;
}

.upper-heading-box h1 {
    font-size: 61px;
    color: #0f1e6c;
}

.upper-heading-box h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

.upper-heading-box p {
    font-size: 16px;
    color: #0f1e6c;
    letter-spacing: 1.2px;

    margin-top: 23px;
}

.upper-image-box {
    width: 616px;
    height: 600px;

    background: url('../images/img-laptop.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.down-container {
    width: 100vw;
    padding-right: 400px;
    padding-top: 125px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.down-heading-box {
    max-width: 507px;
    margin-top: 50px;
}

.down-heading-box h3 {
    font-family: 'Pangram-Light', sans-serif;
    font-size: 31px;
    line-height: 1.194;
    letter-spacing: 1.56px;
    color: #0f1e6c;
}

.down-heading-box p {
    margin-top: 23px;
    font-size: 16px;
    color: #0f1e6c;
}

.down-image-box {
    width: calc(826px / 1.18);
    height: 736.38px;
    margin-right: 10px;

    background: url(../images/img-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.circles-container {
    position: relative;
    width: 100vw;
    height: 540px;
}

.transition-circle {
    position: absolute;
    width: 654px;
    height: 654px;
    border-radius: 50%;
    background: #fff;

    bottom: -330px;
    left: 50%;
    padding: 150px 80px 139px;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-circle h1 {
    font-family: 'QuincyCF-ExtraBold', sans-serif;
    font-size: 61px;
    color: #0f1e6c;

    text-align: center;
}

.small-circle {
    position: absolute;
    bottom: 58px;
    left: 163px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
}

.circle-position2 {
    left: auto;
    right: 167px;
    bottom: 103px;
}

.medium-circle {
    position: absolute;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background: #fff;

    left: 240px;
    bottom: -30px;
}

.large-circle {
    position: absolute;
    left: 58%;
    bottom: 184px;
    width: 134px;
    height: 134px;
    border-radius: 50%;

    background: #fff;
}


/* TESTIMONIALS - Mobile */
#testimonials{
  background-position: center center;
  background-size: cover;
  padding: 45px 0;
}
#testimonials > h2{
  /* Change it on desktop */
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000000;
  text-align: center;

  margin: 0 10px 45px 10px;
}

#testimonials .scroll-area{
  padding: 0 25px;
  overflow-x: hidden;
}
#testimonials .wrapper{
  --n: 5;
  width: calc(460vw - 200px);
  height: 580px;

  transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*(-100% + 60px)));
}
#testimonials .wrapper.smooth{
  transition: transform calc(var(--f, 1)*.5s) ease-out;
}
#testimonials .testimonial{
  background: #ffffff;
  background-position: top 25px left 0px;

  float: left;
  width: calc(100vw - 60px);
  height: 550px;
  padding: 111px 0px 0px 2px;
  margin: 0 calc(8px - 5vw);
  position: relative;
  transform: scale(0.9);
  transition: transform 0.5s ease-out, margin 0.5s ease-out;
}

#testimonials .testimonial.current{
  transform: scale(1);
  margin: 0 5px;
  width: calc(100vw - 60px);
}

#testimonials .quote {
  padding: 5% 6% 5% 6%;
}

#testimonials p{
font-family: 'Pangram-Regular', sans-serif;
  font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 131%;
letter-spacing: 1.2px;
color: #0f1e6c;
  user-select: none;
}

#testimonials .person{
  position: absolute;
  bottom: 45px;
  left: 25px;
  width: 80%;
}

#testimonials .person-petars{
  bottom: 15px;
  left: 25px;
}

#testimonials img{
  float: left;
  width: 70px;
  height: auto;
  border-radius: 40px;
}
#testimonials .details{
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0 0 0 90px;
}
#testimonials strong{
  font-family: 'Pangram-Bold', sans-serif;
  font-size: 25px;
  line-height: 1.52;
  font-weight: 700;
  display: block;
  color: #0f1e6c;
}
#testimonials span{
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  color: #A3A8AF;
}

@media screen and (max-width: 321px) {
  #testimonials {
    height: 800px !important;
  }
  #testimonials .testimonial {
height: 550px !important;
    margin: 0 -13px;
  }
  #testimonials > h2 {
    font-size: 32px;
  }
}
@media (min-width: 404px) and (max-width: 1024px) {
  #testimonials .testimonial {
    margin: 0 0;
  }
  #testimonials .testimonial.current {
    width: 15%;
    height: 715px;
  }
}
/* TESTIMONIALS - Desktop */
@media screen and (min-width: 1024px) {
  #testimonials{
background-repeat: no-repeat;
background-position: top 0 right 0;
background-size: 100% 100%;
    padding: 533px 0 130px 0;
    height: auto;
  }
  #testimonials > h2{
    margin-bottom: 80px !important;
      margin-top: 78px !important;
    font-size: 48px;
    line-height: 56px;
  }
  #testimonials .scroll-area {
    padding: 0 100px;
    height: 571px;
    overflow-y: hidden;
  }

  #testimonials .wrapper{
    width: 4000px;
    height: 570px;
    padding-top: 50px;
    margin-left: calc(50vw - 500px);
    transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*(-100%)));
  }
  #testimonials .testimonial,
  #testimonials .testimonial.current{
    background-position: top 0 left 73px;

    width: 680px;
    height: 450.49px;
    padding: 82px 95px 0 77px;
    margin: 0 60px;
    transform: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  }
  #testimonials .quote {
    padding: 5% 4% 5% 4%;
  }

  #testimonials .testimonial.current{
    /*margin-left: 0;*/
  }

  #testimonials .person{
    bottom: 46px;
    left: 95px;
    width: 60%;
  }
}



#developers {
    position: relative;
    width: 100vw;
    padding-left: 340px;
    padding-top: 174px;
    padding-bottom: 165.5px;

    background: linear-gradient(45deg, #f76c1d 0%, #f7c664 100%);
}

.developers-typography {
    position: absolute;
    font-family: 'Pangram-Black', sans-serif;
    font-size: 180px;
    text-transform: uppercase;
    color: #f7b95a;
    opacity: 0.27 !important;
    background: linear-gradient(45deg, #f76c1d 0%, #f7c664 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: screen;
}

#developers h1 {
    font-size: 61px;
    line-height: 1.1;
    color: #fff;
}

#developers h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

#developers h3 {
    font-family: 'Pangram-Light', sans-serif;
    max-width: 531px;
    font-size: 31px;
    color: #fff;
    line-height: 1.294;
    letter-spacing: 1.56px;

    margin-top: 35px;
    margin-bottom: 44px;
}

#developers p {
    font-family: 'Pangram-Light', sans-serif;
    max-width: 507px;
    font-size: 16px;
    color: #fff;

    letter-spacing: 1.1px;
}

#developers p span {
    font-weight: bold;
    text-decoration: underline;
}

#developers .developers-links {
    width: 507px;
    margin-top: 45.5px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.developers-links .btn-documentation,
.developers-links .btn-github-repo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 238px;
    padding: 20px 26.5px;
    background: rgba(255, 255, 255, .3);
    transition: .5s;
}

.btn-documentation:hover,
.btn-github-repo:hover {
    background: #fff;
    color: #FF8400;
    transition: .5s;
}


.icon-doc {
    display: block;
    width: 24.73px;
    height: 28.71px;
    margin-right: 12px;

    background: url('../images/icn-documentation.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-github {
    display: block;
    width: 30.75px;
    height: 29.99px;

    background: url('../images/icn-github.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
}

.btn-documentation:hover .icon-doc {
    transform: scaleX(0);
    transition: .5s;
}

.btn-github-repo:hover .icon-github {
    transform: scaleX(0);
    transition: .5s;
}

#vote {
    position: relative;
    width: 100vw;
    padding: 163px 223px;
    background: #0f1e6c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vote h1 {
    font-size: 95px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
}

#vote h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

#vote h3 {
    font-family: 'Pangram-Light', sans-serif;
    max-width: 660px;
    font-size: 31px;
    text-align: center;
    color: #fff;

    margin-top: 35px;
}

.vote-form button{
   border: none;
   background: transparent; 
   outline: none;
}

.vote-btn {
    position: relative;
    overflow: hidden;
    width: 187px;
    height: 187px;
    border-radius: 50%;
    margin-top: 100px;

    border: none;
    background: linear-gradient(225deg, #f76c1d 0%, #f7c664 100%);
    
    cursor: pointer;
    outline: none;
    transition: 1s;
}

.votes {
    position: relative;
    width: auto;
    height: auto;
}

@keyframes voted {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.animateVoted {
    animation: 2s voted;
} 

.voted {
    opacity: 0;
    position: absolute;
    right: -30px;
    top: -6px;

    z-index: 7;
    background: linear-gradient(45deg, #f76c1d 0%, #f7c664 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.num-votes {
    position: absolute;
    width: 67px;
    height: 66px;
    top: -30px;
    right: 0;

    z-index: 5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background: linear-gradient(270deg, #3228b5 0%, #151a76 100%);
}

#vote .vote-btn h3 {
    font-family: 'Pangram-Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

@keyframes changeColor {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.vote-btn-fire {
    position: absolute;
    width: 83px;
    height: 120px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-fire.svg');
    background-repeat: no-repeat;
    background-size: cover;

    transition: .5s;
}

.vote-btn-fire-active {
    position: absolute;
    width: 83px;
    height: 120px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background: url('../images/icn-fire-active.svg');
    background-repeat: no-repeat;
    background-size: cover;

    transition: .5s;
}

.notification-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: 30px;
    
    background: #1CC073;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.btn {
    cursor: pointer;
}

#rates {
    width: 100vw;
    padding-top: 160px;
    padding-bottom: 247px;
    overflow: hidden;
}

#rates h1 {
    font-size: 61px;
    text-align: center;
    margin-bottom: 120px;

    color: #0f1e6c;

    background: linear-gradient(270deg, #3228b5 0%, #151a76 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rates h1 span {
    font-family: 'QuincyCF-Medium', sans-serif;
    font-weight: 500;
}

.rates-slider {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.rates-slider-container {
    width: 2200px;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rates-slide {
    width: 243px;
    height: 213px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rates-slide-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rates-slide-heading {
    font-family: 'QuincyCF-Bold', sans-serif;
    font-size: 39px;
    color: #0f1e6c;
    font-weight: 700;
    margin-top: 20px;
}

.rates-value-cel {
    margin-right: 40px;
}

.rates-value-cel-percentage {
    font-family: 'Pangram-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 31px;
    background: linear-gradient(45deg, #f76c1d 0%, #f7c664 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.in-cel {
    font-family: 'Pangram-Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FF9721;
    margin-top: 5px;
}

.rates-value-in-kind-percentage {
    font-family: 'Pangram-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 31px;
    color: #0f1e6c;
}

.in-kind {
    font-family: 'Pangram-Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0f1e6c;
    margin-top: 5px;
}

.rates-slide-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.rates-value-cel,
.rates-value-in-kind {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rates .splide__slide {
    width: 270px !important;
}

#splide--container {
    transform: translateX(122.3334px) !important;
}

#splide--container .rates-li-slide {
    margin-right: 90px !important;
}

.rates-buttons {
    width: 100vw;
    margin-top: 160px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-appstore,
.btn-googleplay {
    width: 238px;
    height: 71px;

    background: #0f1e6c;
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-appstore {
    margin-right: 30px;
}

.icon-appstore {
    display: block;
    background: url('../images/icn-apple.png');
}


footer {
    width: 100vw;
    background: #fbf6ef;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px 240px 50px;
}

.footer-social-media {
    width: 280px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 1440px) and (max-width: 1600px) {
    header {
        padding: 47px 280px 0 240px;
    }

    .coming-soon {
        padding: 88px 100px 63px;
    }

    .upper-container {
        padding-left: 150px;
    }

    .down-container {
        padding-right: 100px;
        justify-content: flex-end;
    }

    .down-image-box {
        margin-right: 100px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    h1 {
        font-size: 52px !important;
    }

    h1 span {
        font-size: 52px !important;
    }
    
    header {
        padding: 47px 180px 0 200px;
    }

    #hero {
        padding-bottom: 200px;
    }

    #hero .heading-section h1,
    #hero .heading-section h1 span {
        font-size: 82px !important;
    }

    .available,
    .coming-soon {
        padding: 88px 60px 63px;
    }

    .upper-container {
        padding-left: 80px;
    }

    .upper-heading-box {
        margin-right: 30px;
    }

    .down-container {
        padding-right: 30px;
        justify-content: flex-end;
    }

    .down-image-box {
        
        margin-right: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    header {
        padding: 47px 100px 0 100px;
    }

    #hero {
        padding-bottom: 210px;
    }

    #hero .heading-section h1,
    #hero .heading-section h1 span {
        font-size: 82px !important;
    }

    .available,
    .coming-soon {
        padding: 88px 30px 63px;
    }

    .available h1,
    .available h1 span,
    .coming-soon h1,
    .coming-soon h1 span {
        font-size: 48px;
    }

    .upper-container {
        padding-left: 30px;
    }

    .upper-heading-box {
        margin-right: 20px;
    }

    .upper-image-box {
        width: 415px;
        height: 400px;
    }

    .down-container {
        padding-right: 30px;
        justify-content: flex-end;
    }

    .down-image-box {
        width: 415px;
        height: 435px;
        margin-right: 50px;
    }

    #vote h1 {
        font-size: 61px;
    }

    #vote h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    #hamburger {
        display: block !important;
    }

    header {    
        height: 75px;
        padding: 10px 30px;
    }

    header nav {
        display: none;
    }

    .header-btn {
        margin-left: 0;
        width: auto;
        height: auto;
    }

    #hero .heading-section h1 {
        font-size: 52px;
    }

    #hero .bubble3 {
        top: 372px;
    }

    .celswap-logo {
        display: none !important;
    }

    .celswap-logo-mobile {
        display: block !important;
        width: 143.3px;
        height: 36px;

        background: url('../images/celswap-logo-onscroll.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        transition: .5s;
    }

    #hero {
        height: auto;
        padding: 160px 30px;
    }

    header nav {
        display: none;
    }

    .nav-mobile-modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #F7923B;
        z-index: 5;
    }

    .nav-mobile-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile-modal nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-mobile-modal nav ul li {
        list-style: none;
    }

    .nav-mobile-modal nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 2em;
        font-weight: 700;
    }

    .nav-mobile-modal nav ul li button {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #fff;
        background: #0f1e6c;
        border: none;
        padding: 12px 23px;
        margin-top: 50px;
    }

    .available,
    .coming-soon {
        padding: 88px 30px 63px;
    }

    .available h1,
    .available h1 span,
    .coming-soon h1,
    .coming-soon h1 span {
        font-size: 42px;
    }

    #about {
        padding: 160px 80px;
    }

    #about h1 {
        font-size: 42px;
    }

    #about h3 {
        font-size: 24px;
    }

    #what-is .big-bubble {
        width: 550px;
        height: 550px;
    }

    #what-is h1 {
        font-size: 42px;
    }

    .what-is-content p {
        max-width: 550px;
        font-size: 24px;
    }

    #prices {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .prices-container {
        padding: 160px 30px 60px 80px;
    }

    .prices-container h1{
        font-size: 42px;
    }

    .prices-function span {
        font-size: 88px;
    }

    #why-build {
        padding-top: 80px;
    }

    .upper-container {
        padding-left: 80px;
        align-items: flex-start;
        flex-direction: column;
    }

    .upper-heading-box {
        margin-right: 0;
    }

    .upper-heading-box h1 {
        font-size: 42px;
    }

    .upper-image-box {
        width: 450px;
        height: 450px;
        margin-right: 0;
        margin-top: 80px;
        align-self: flex-end;
    }

    .down-container {
        padding-top: 80px;
        padding-right: 80px;
        flex-direction: column;
        align-items: flex-start;
    }

    .down-heading-box {
        align-self: flex-end;
    }

    .down-heading-box h1{
        font-size: 24px;
    }

    .down-image-box {
        width: 450px;
        height: 450px;
        margin-top: 80px;
    }

    #testimonials {
        margin-top: 200px;
        height: 700px;
    }

    #testimonials .testimonial.current {
        height: 500px;
    }

    #developers {
        padding-left: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .developers-typography {
        font-size: 120px;
    }

    #developers h1 {
        font-size: 42px;
    }

    #developers h3 {
        font-size: 24px;
    }

    #vote {
        padding: 80px 80px 120px;
    }

    #vote h1 {
        font-size: 61px;
    }

    #vote h3 {
        font-size: 24px;
    }

    #rates {
        padding-top: 80px;
    }

    #rates h1 {
        font-size: 42px;
    }

    .rates-slide-heading {
        font-size: 31px;
    }

    .rates-buttons {
        flex-direction: column;
    }

    .btn-appstore {
        margin-right: 0;
        margin-bottom: 30px;
    }

    footer {
        width: 100vw;
        background: #fbf6ef;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        padding: 40px 30px 50px;
    }
    
    .footer-social-media {
        width: 280px;
        margin-top: 50px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 950px) {
    .prices-function span {
        font-size: 62px;
    }
}

@media screen and (max-width: 700px) {
    .prices-function span {
        font-size: 52px;
    }
}

@media screen and (max-width: 650px) {
    .prices-container {
        flex-direction: column;
    }

    .prices-function {
        margin-top: 30px;
    }

    #testimonials {
        height: 750px;
    }

}

@media screen and (max-width: 600px) {
    #testimonials .testimonial.current {
        height: 530px;
    }
}

@media screen and (max-width: 510px) {
    #testimonials .testimonial.current {
        height: 600px;
    }
}

@media (min-width: 406px) and (max-width: 460px) {
    #testimonials .testimonial.current {
        height: 654px;
    }
}

@media (min-width: 421px) and (max-width: 768px) {

    #availability {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .available,
    .coming-soon {
        width: 100vw;
        padding: 70px 30px 70px; 
    }

    .available h1 {
        width: 100vw;
    }

    .coming-soon h1,
    .coming-soon h4 {
        width: 100vw;
        text-align: center;
    }

    .coming-soon h4 {
        margin-top: 70px;
    }
}

@media (min-width: 320px) and (max-width: 420px) {

    h1,
    h1 span {
        font-size: 36px !important;
        line-height: 1.15;
    }

    h3 {
        font-size: 24px !important;
    }

    .btn {
        font-size: 17px;
    }

    #hero .heading-section h1 {
        font-size: 40px !important;
    }

    .bubble3 {
        top: 432px;
    }

    #availability {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .available,
    .coming-soon {
        width: 100vw;
        padding: 70px 30px 70px; 
    }

    .available h1 {
        width: 100vw;
    }

    .coming-soon h1,
    .coming-soon h4 {
        width: 100vw;
        text-align: center;
    }

    .coming-soon h4 {
        margin-top: 70px;
    }

    #about {
        padding: 70px 30px;
    }

    .about-typography {
        font-size: 100px;
        right: 0;
        top: 80px;
    }

    #about h1 {
        position: relative;
        z-index: 3;
    }

    #about h3 {
        margin-top: 25px;
    }

    #about h3 br {
        display: none;
    }

    #about p {
        margin-top: 40px;
    }

    #what-is {
        padding: 70px 30px;
    }

    .what-is-content p {
        font-size: 22px;
    }

    #prices {
        padding: 70px 0;
    }

    .prices-container {
        width: auto;
        padding: 0 30px;
        flex-direction: column;
        align-items: center;
    }

    .prices-function {
        margin-top: 30px;
    }

    .prices-function span {
        font-size: 72px;
    }

    #why-build {
        padding-top: 0;
    }

    .upper-container {
        padding: 70px 0 0;
        flex-direction: column;
        align-items: flex-end;
    }

    .upper-heading-box {
        padding: 0 30px;
    }

    .upper-image-box {
        width: 340px;
        height: 340px;
        margin-right: 0;
        margin-top: 60px;
    }

    .down-container {
        padding: 70px 0 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .down-heading-box {
        padding: 0 30px;
    }

    .down-image-box {
        width: 342px;
        height: 342px;
        margin-top: 60px;
    }

    .transition-circle {
        bottom: -240px;
        padding: 0 30px 70px;
    }

    .transition-circle h1 {
        width: 100vw;
    }

    #testimonials .testimonial{
        height: 580px;
    }

    #developers {
        padding: 70px 30px;
    }

    .developers-typography {
        font-size: 190px;
    }

    #developers .developers-links {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .btn-documentation {
        width: 100%;
        margin-bottom: 25px;
    }

    #vote {
        padding: 70px 30px;
    }

    #vote h1 {
        font-size: 40px !important;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    #testimonials .testimonial {
        height: 630px;
    }
}
